{% extends 'dp_app/base.html' %}

{% load static %}



{% block content %}
<div class="wrapper" style="margin-left: 400px;margin-top: -40px;">
    <div class="inner">
        <form method="post">
            {% csrf_token %}
            <h3>Bronchitis</h3>
            <div>
                {% for message in messages%}
                <h3>{{message}}</h3>
                {% endfor %}
            </div>

            <div>
                <h4>Are You Having a sore Throat?</h4>
                <select name="sorethroat">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div><br />

            <div>
                <h4>Do You Have a Constant Headache?</h4>
                <select name="headache">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div><br />

            <div>
                <h4>Do You Suffer From runny or Blocked Nose?</h4>
                <select name="runnynose">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div><br />


            <div>
                <h4>Do You Suffer from Aches and Pains?</h4>
                <select name="pains">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div><br />

            <div>
                <h4>Are You Tired All The Time?</h4>
                <select name="tired">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div><br />

            

            <button style="color: white;">Check</button>
        </form>

    </div>

</div>
<button style="color: white; margin-top: -600px; margin-left: 50px" onclick="btnfunc()">Back To Index</button>
{% endblock %}